.card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow:visible;
  }

  .card a {
    width: 30px;
    height: 30px;
    background-color: rgba(117, 117, 117, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
  }

  .card a:hover {
    transform: scale(1.2);
    border-radius: 15px;
  }
  .card a:nth-child(1):hover {
    background-color: #c71610;
  }
  .card a:nth-child(2):hover {
    background-color: #00acee;
  }
  .card a:nth-child(3):hover {
    background-color: #0072b1;
  }
  .card a:nth-child(4):hover {
    background-color: #b45bfd;
  }
  .card a:nth-child(5):hover {
    background-color: #f97b13;
  }

  .card a:active {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }

  .card a svg:first-child {
    display: flex;
    scale: 1.3;
    position: absolute;
    width: 17px;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
  }

  .card a svg:first-child path {
    fill: rgb(0, 0, 0);
  }

  .dark .card a svg:first-child path {
    fill: rgb(255, 255, 255);
  }

  .card a:hover svg:first-child {
    transform: translateY(-40px);
    opacity: 0;
  }
  .card a svg:last-child {
    display: flex;
    position: absolute;
    width: 17px;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  .card a svg:last-child path {
    fill: rgb(255, 255, 255);
  }

  .card a:hover svg:last-child {
    opacity: 1;
    transform: translateY(0px);
  }
